.not-found-image {
  width: 50%;
}
.not-found-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-description {
  font-size: 15px;
  color: #1e293a;
  text-align: center;
}

.not-found-msg {
  font-size: 25px;
  color: #1e293a;
}

@media screen and (min-width: 768px) {
  .not-found-description {
    font-size: 20px;
    color: #1e293a;
  }

  .not-found-msg {
    font-size: 28px;
    color: #1e293a;
  }
  .not-found-image {
    max-width: 280px;
  }
}
