@media screen and (min-width: 768px) {
  .about-mobile-image {
    display: none;
  }
  .about-desktop-image {
    height: 800px;
  }
}

@media screen and (max-width: 768px) {
  .about-desktop-image {
    display: none;
    height: 100px;
  }
}

.about-container {
  display: flex;
  justify-content: center;
}
