* {
  font-family: 'Roboto';
}
.close-icon-btn {
  background-color: transparent;
  border: none;
}

.close-icon {
  color: #1e293a;
  font-size: 22px;
}

.link-elements {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
.icons {
  color: #1e293a;
  font-size: 20px;
}

.tags {
  color: #1e293a;
  font-size: 24px;
  margin-left: 8px;
}
.pop-card {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (min-width: 768px) {
  .icons {
    color: #1e293a;
    font-size: 25px;
  }

  .tags {
    color: #1e293a;
    font-size: 40px;
    margin-left: 10px;
  }
  .pop-card {
    padding: 120px;
  }
}
.website-logo-image {
  height: 30px;
}
.nav {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
}
.image-link {
  text-decoration: none;
}
.trigger-button {
  background-color: transparent;
  border: none;
}
.menu-icon {
  font-size: 25px;
  color: #1e293a;
}

.tag-items {
  list-style-type: none;
}
